{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Category Page</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="all_post section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
               {% for object in objects %}
                <div class="single_post media post_3">
                    <div class="single_post_img">
                        <img src="{{ object.image.url }}" alt>
                        <a href="{% url 'article:category' %}" class="category_btn">abstract design</a>
                    </div>
                    <div class="post_text_1 media-body align-self-center">
                        <p><span>{{ object.author }}</span> / {{ object.created_date|date:'F d, Y' }}</p>
                        <a href="#">
                            <h3>{{ object.title }}</h3>
                        </a>
                        <div class="post_icon">
                            <ul>
                                <li><i class="ti-comment"></i>{{ object.comments.count }} Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
               {% endfor %}
            </div>

            <div class="col-lg-4">
                <div class="sidebar_widget">
                    <div class="sidebar_tittle">
                        <h3>Search Objects</h3>
                    </div>
                    <form action="#">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input name="q" type="text" class="form-control" placeholder="Search Keyword"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                <div class="input-group-append">
                                    <button class="btn" type="button"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="sidebar_tittle">
                        <h3>Popular Feeds</h3>
                    </div>
                    {% for object in last_three %}
                    <div class="single_catagory_post post_2 single_border_bottom">
                        <div class="category_post_img">
                            <img src="{{ object.image.url }}">
                        </div>
                        <div class="post_text_1 pr_30">
                            <p><span> {{ object.author }}</span> / {{ object.created_date|date:'F d, Y' }}</p>
                            <a href="{% url 'article:detail' object.slug %}">
                                <h3>{{ object.title }}</h3>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="sidebar_tittle">
                        <h3>Categories</h3>
                    </div>
                    <div class="single_catagory_item category">
                        <ul class="list-unstyled">
                            {% for category in categories %}

                            <li><a href="{% url 'article:category' %}?cat={{ category.title }}">{{ category.title }} ({{ category.articles.count }})</a></li>

                            {% endfor %}
                        </ul>
                    </div>
                    <div class="sidebar_tittle">
                        <h3>Popular Tags</h3>
                    </div>
                    <div class="single_catagory_item tags">
                        <ul class="list-unstyled">

                            {% for tag in tags %}
                            <li><a href="{% url 'article:list' %}?tag={{ tag.title }}">{{ tag.title }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

