{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Contact Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contact-section section_padding">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.852719222955!2d69.28528677598415!3d41.355554871303944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef3874b503727%3A0x87d7b3568c7badc8!2sFarobiy%20IT%20Academy!5e0!3m2!1sru!2s!4v1706442199874!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Get in Touch</h2>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form"
                       method="post"
                      id="contactForm" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.message }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.subject }}
                            </div>
                        </div>
                    </div>
                    <div class="load_btn">
                        <button  type="submit" class="btn_1">Send Message <i class="ti-angle-right"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Tashkent, Uzbekistan.</h3>
                        <p>Amir Temur prospect, 170A</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>(94) 404-77-54</h3>
                        <p>Mon to Fri 9am to 6pm</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3><a href="https://mail.google.com/mail/" class="__cf_email__"
                               data-cfemail="e89b9d9898879a9ca88b8784879a84818ac68b8785">[email&#160;protected]</a>
                        </h3>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
{% endblock %}