{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="banner_post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner_post_1 banner_post_bg_1">
                    <div class="banner_post_iner text-center">
                        <a href=""><h5> Creative & Design</h5></a>
                        <a href=""><h2>All said replenish years void <br>
                            kind say void </h2></a>
                        <p><span> By Michal</span> / March 30 , 2019</p>
                    </div>
                </div>
                <div class="banner_post_2 banner_post_bg_2">
                    <div class="banner_post_iner">
                        <a href="category.html"><h5> Creative & Design</h5></a>
                        <a href="{% url 'article:detail' 1 %}"><h2>Behold given land one first face fish which all said
                            male fruit void king saying</h2></a>
                        <p><span> By Michal</span> / March 30 , 2019</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="feature_post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% for object in articles %}
                    <div class="single_feature_post post_1">
                    <img src="{{ object.image.url }}" alt>
                    <div class="post_text_1 pr_30">
                        <h5>creative design</h5>
                        <a href="{% url 'article:detail' object.slug %}">
                            <h3>{{ object.title }}</h3>
                        </a>
                        <p><span> By {{ object.author }}</span> / {{ object.created_date|date:'F d, Y' }}</p>
                        <div class="post_icon">
                            <ul>
                                <li><i class="ti-comment"></i>{{ object.comments.count }} Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


<!--<section class="catagory_post">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            {% for object in articles2 %}-->
<!--            <div class="col-sm-6 col-lg-4">-->
<!--                <div class="single_catagory_post post_2">-->
<!--                    <div class="category_post_img">-->
<!--                        <img src="{{ object.image.url }}" alt>-->
<!--                        <a href="category.html" class="category_btn">abstract design</a>-->
<!--                    </div>-->
<!--                    <div class="post_text_1 pr_30">-->
<!--                        <p><span> By Michal</span> / March 30 , 2019</p>-->
<!--                        <a href="{% url 'article:detail' object.slug %}">-->
<!--                            <h3>{{ object.title }}</h3>-->
<!--                        </a>-->
<!--                        <div class="post_icon">-->
<!--                            <ul>-->
<!--                                <li><i class="ti-comment"></i>{{ object.comments.count }} Comment</li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->


<section class="all_post section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                {% for object in articles %}
                <div class="single_post media post_3">
                    <div class="single_post_img">
                        <img src="{{ object.image.url }}" alt>
                        <a href="{% url 'main:category' %}" class="category_btn">Tours & travel</a>
                    </div>
                    <div class="post_text_1 media-body align-self-center">
                        <p><span> {{ object.author }}</span> / {{ object.created_date|date: 'F d, Y'}}</p>
                        <a href="../article/single-blog.html">
                            <h3>Called face there light this
                                said wherein replenish sadin
                                made green grass</h3>
                        </a>
                        <div class="post_icon">
                            <ul>
                                <li><i class="ti-comment"></i>2 Comment</li>
                                <li><i class="ti-heart"></i>0 Like</li>
                                <li><i class="ti-export"></i>Share</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="load_btn text-center">
                    <a href="#" class="btn_1">LOADING MORE <i class="ti-angle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar_widget">
                    <div class="sidebar_tittle">
                        <h3>Search Objects</h3>
                    </div>
                    <form action="#">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Search Keyword"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                <div class="input-group-append">
                                    <button class="btn" type="button"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="sidebar_tittle">
                        <h3>Popular Feeds</h3>
                    </div>
                    {% for object in articles%}
                    <div class="single_catagory_post post_2 single_border_bottom">
                        <div class="category_post_img">
                            <img src="{{ object.image.url }}">
                        </div>
                        <div class="post_text_1 pr_30">
                            <p><span> By Michal</span> / {{ object.created_date|date:'F d, Y' }}</p>
                            <a href="../article/single-blog.html">
                                <h3>Subdue lesser beast winged
                                    bearing meat tree one</h3>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="sidebar_tittle">
                        <h3>Categories</h3>
                    </div>
                    <div class="single_catagory_item category">
                        <ul class="list-unstyled">
                            <li><a href="../article/single-blog.html">Culture (12)</a></li>
                            <li><a href="../article/single-blog.html">Creative Design (15)</a></li>
                            <li><a href="../article/single-blog.html">Illustration (25)</a></li>
                            <li><a href="../article/single-blog.html">Production (16)</a></li>
                            <li><a href="../article/single-blog.html">Mangement (10)</a></li>
                            <li><a href="../article/single-blog.html">Branding (15)</a></li>
                        </ul>
                    </div>
                    <div class="sidebar_tittle">
                        <h3>Popular Tags</h3>
                    </div>
                    <div class="single_catagory_item tags">
                        <ul class="list-unstyled">
                            <li><a href="../article/single-blog.html">Nature</a></li>
                            <li><a href="../article/single-blog.html">business</a></li>
                            <li><a href="../article/single-blog.html">tech</a></li>
                            <li><a href="../article/single-blog.html">News</a></li>
                            <li><a href="../article/single-blog.html">html</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% include 'paginator.html' %}
    </div>
</section>
{% endblock %}

