{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Blog Single</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog_area single-post-area all_post section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="{{ object.image.url }}" alt>
                    </div>
                    <div class="blog_details">
                        <h2>{{ object.title }}</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="far fa-user"></i>{{ object.category }}</a></li>
                            <li><a href="#"><i class="far fa-comments"></i> {{ object.comments.count }} Comments</a>
                            </li>
                        </ul>
                        {% for article_content in object.contents.all %}
                        {% if article_content.is_quote %}
                        <div class="quote-wrapper">
                            <div class="quotes">
                                {{ article_content.content|safe }}
                            </div>
                        </div>
                        {% else %}
                        <p>{{ article_content.content|safe }}</p>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info"><span class="align-middle"><i class="far fa-heart"></i></span>Lily</p>

                        <ul class="social-icons">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                    <div class="navigation-area">
                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                {% if prev_post %}
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="{{ prev_post.image.url }}" alt>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#">
                                        <span class="text-white ti-arrow-left"></span>
                                    </a>
                                </div>
                                <div class="detials">
                                    <p>Prev Post</p>
                                    <a href="{% url 'article:detail' prev_post.slug %}">
                                        <h4>{{ prev_post.title|slice:"20" }}</h4>
                                    </a>
                                </div>
                                {% endif %}
                            </div>


                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                {% if next_post %}
                                <div class="detials">
                                    <p>Next Post</p>
                                    <a href="#">
                                        <h4>{{ next_post.title|slice:"20" }}</h4>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="{% url 'article:detail' next_post.slug %}">
                                        <span class="text-white ti-arrow-right"></span>
                                    </a>
                                </div>
                                <div class="thumb">
                                    <a href="{% url 'article:detail' next_post.slug %}">
                                        <img class="img-fluid" src="{{ next_post.image.url }}" alt>
                                    </a>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="blog-author">

                    <div class="media align-items-center">
                        <img src="{{ object.author.image.url }}" alt>
                        <div class="media-body">
                            <a href="#">
                                <h4>{{ object.author.name }}</h4>
                            </a>
                            <p>{{ object.author.description }}</p>
                        </div>
                    </div>

                </div>
                <div class="comments-area">

                    <h4>{{ comments.count }} Comment(s)</h4>
                    {% for comment in comments %}

                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                {% if comment.image %}
                                <div class="thumb">
                                    <img src="{{ comment.image.url }}" alt>
                                </div>
                                {% else %}
                                <div class="thumb">
                                    <img src="{% static 'img/user.jpg' %}" alt>
                                </div>
                                {% endif %}
                                <div class="desc">
                                    <p class="comment">
                                        {{ comment.message }}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        {% if comment.name %}
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">{{ comment.name }}</a>
                                            </h5>
                                            <p class="date">{{ comment.created_date }} </p>
                                        </div>
                                        {% else %}
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">Unknown User</a>
                                            </h5>
                                            <p class="date">{{ comment.created_date }} </p>
                                        </div>
                                        {% endif %}
                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form method="post" class="form-contact comment_form" id="commentForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    {{ form.message }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    {{ form.image }}
                                </div>
                            </div>
                        </div>
                        <div class="load_btn">
                            <input type="submit" class="btn_1" value="SUBMIT"> <i class="ti-angle-right"></i>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar_widget">
                    <div class="sidebar_tittle">
                        <h3>Search Objects</h3>
                    </div>
                    <form action="#">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input name="q" type="text" class="form-control" placeholder="Search Keyword"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                <div class="input-group-append">
                                    <button class="btn" type="button"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="sidebar_tittle">
                        <h3>Popular Feeds</h3>
                    </div>
                    {% for object in object_list %}
                    <div class="single_catagory_post post_2 single_border_bottom">
                        <div class="category_post_img">
                            <img src="{{ object.image.url }}">
                        </div>
                        <div class="post_text_1 pr_30">
                            <p><span> {{ object.author }}</span> / {{ object.created_date|date:'F d, Y' }}</p>
                            <a href="{% url 'article:detail' object.slug %}">
                                <h3>{{ object.title }}</h3>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="sidebar_tittle">
                        <h3>Categories</h3>
                    </div>
                    <div class="single_catagory_item category">
                        <ul class="list-unstyled">
                            {% for category in categories %}

                            <li><a href="{% url 'article:category' %}?cat={{ category.title }}">{{ category.title }} ({{ category.articles.count }})</a></li>

                            {% endfor %}
                        </ul>
                    </div>
                    <div class="sidebar_tittle">
                        <h3>Popular Tags</h3>
                    </div>
                    <div class="single_catagory_item tags">
                        <ul class="list-unstyled">

                            {% for tag in tags %}
                            <li><a href="{% url 'article:list' %}?tag={{ tag.title }}">{{ tag.title }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}